/*******START ABOUT PARALLAX
***************************/

.para_page {
    height: 100vh;
    margin: 0 auto;
}

.para_page a {
    color: #BBB;
}

.para_page h3 {
    padding: 10px 0 30px 0;
}

.para_bg {
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.about_para_content {
    position: relative;
    top: 20vh;
    margin: 0 auto;
}

.para_content_wrapper {
    position: relative;
    background-color: rgb(40, 40, 40);
    background-color: rgba(40, 40, 40, 0.5);
    height: 25vh;
    width: 45vw;
    top: 37.5vh;
    left: 27.5vw;
}

.para_content {
    position: relative;
    margin: 0 auto;
    padding: 1vh 0;
    width: 33.33vw;
    text-shadow: 4px 4px 2px rgb(10, 10, 10);
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}

.para_content p {
    font-size: 1vw;
    font-family: 'Lato', sans-serif;
    color: #BBB;
}

.para_content img {
    margin-bottom: 2vh;
}

#games_para_content_wrapper.para_content_wrapper {
    position: relative;
    top: 22vh;
    background-color: rgb(40, 40, 40);
    background-color: rgba(40, 40, 40, 0.5);
}

#games_para_content.para_content {
    position: relative;
    height: 100%;
}

#fauna_para_content_wrapper.para_content_wrapper {
    position: relative;
    top: 27vh;
    background-color: rgb(40, 40, 40);
    background-color: rgba(40, 40, 40, 0.8);
}

#fauna_para_content.para_content {
    position: relative;
}

#science_para_content_wrapper.para_content_wrapper {
    position: relative;
    background-color: rgb(40, 40, 40);
    background-color: rgba(40, 40, 40, 0.8);
    width: 25vw;
    left: 37.5vw;
}

#science_para_content.para_content {
    width: 24vw;
}

#words_para_content_wrapper.para_content_wrapper {
    position: relative;
    top: 38.5vh;
    background-color: inherit;
}

#sundry_para_content_wrapper.para_content_wrapper {
    position: relative;
    top: 14vh;
    background-color: rgb(40, 40, 40);
    background-color: rgba(40, 40, 40, 0.5);
}

#media_para_content_wrapper.para_content_wrapper {
    position: relative;
    width: 22.5vw;
    height: 20vh;
    left: 35.5vw;
    top: 40vh;
    background-color: rgb(40, 40, 40);
    background-color: rgba(40, 40, 40, 0.8);
}

#media_para_content.para_content {
    position: absolute;
    left: -5.5vw;
}

/*******PARALLAX BACKGROUNDS
***************************/

#about_para_bg {
    background-image: url('../img/para_about_bg_1440x1232.png');
}

#games_para_bg {
    background-image: url('../img/para_games_bg_1440x1232.png');
}

#fauna_para_bg {
    background-image: url('../img/para_fauna_bg_1440x1232.png');
}

#science_para_bg {
    background-image: url('../img/para_science_bg_1440x1232.png');
}

#words_para_bg {
    background-image: url('../img/para_words_bg_1440x1232.png');
}

#sundry_para_bg {
    background-image: url('../img/para_sundry_bg_1440x1232.png');
}

#media_para_bg {
    background-image: url('../img/para_media_bg_1440x1232.png');
}


/***END PARALLAX BACKGROUNDS
***************************/


/*********END ABOUT PARALLAX
***************************/
