.auth_page form {
    margin-top: 5vh;
}
.auth_page p {
    margin-top: 5vh;
}
.auth_page input {
    background-color: #555;
    color: #BBB;
    text-align: center;
    border-width: thin;
    border-style: none none solid solid;
    border-color: #000;
}
.authmenu#menu-wrapper {
    margin: auto;
    max-width: 75vw;
}
.adminmenu ul {
    display: inline-block;
    list-style-type: none;
}
.adminmenu li {
    float: left;
}
.adminmenu li a:hover {
    color: #BBB;
    text-decoration: none;
}
.clear {
    clear: both;
}
.error {
    padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}
form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#000;background:#fff; margin-bottom:10px;}
table th {background-color:#E5E5E5; border:1px solid #BBBBBB; padding:3px 6px; font-weight:normal; color:#000;}
table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#F0F0F0; color:#000;}
