.auth_page form {
    margin-top: 5vh;
}
.auth_page p {
    margin-top: 5vh;
}
.auth_page input {
    background-color: #555;
    color: #BBB;
    text-align: center;
    border-width: thin;
    border-style: none none solid solid;
    border-color: #000;
}
.action_message {
    background-color: #800080;
    color: #00B000;
}
.admin_menu#menu-wrapper {
    margin: auto;
    max-width: 50vw;
}
.admin_nav_menu {
    display: inline-flex;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.admin_nav_menu li {
    float: left;
}
.admin_nav_menu li a:hover {
    color: #BBB;
    text-decoration: none;
}
.clear {
    clear: both;
}
.error {
    padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}
.admin_menu table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#000;background:#fff; margin-bottom:10px;}
.admin_menu table th {background-color:#E5E5E5; border:1px solid #BBBBBB; padding:3px 6px; font-weight:normal; color:#000;}
.admin_menu table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
.admin_menu table tr.alt td {background-color:#E2E2E2;}
.admin_menu table tr:hover {background-color:#F0F0F0; color:#000;}*/

.mce-container-body {
    max-width: 40vw;
    margin: 0 auto;
}

.form-control {
    max-width: 40vw;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

/*form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}
