.auth_page form {
    margin-top: 5vh;
}
.auth_page p {
    margin-top: 5vh;
}
.auth_page input {
    background-color: #555;
    color: #BBB;
    text-align: center;
    border-width: thin;
    border-style: none none solid solid;
    border-color: #000;
}
