/* Copyright 2016. GoodLife Music Ltd.. All Rights Reserved. */
/*@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext);*/
/* FONT CODES
font-family: 'Bevan', cursive;
font-family: 'Cinzel', serif;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Overlock', cursive;
font-family: 'Overlock SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Source Serif Pro', serif;
font-family: 'Tangerine', cursive;
font-family: 'Montserrat', sans-serif;
*/

/*******GENERAL OVERARCHING
***************************/
body,
html {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    background-color: #333;
    font-size: 16px;
    font-size: calc(12px + 0.2vw);
    color: #BBB;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.4;
    font-size: 1em;
    color: #BBB;
    white-space: pre-wrap;
    word-break: normal;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/***************END GENERAL
***************************/

/****************MAIN TITLE
***************************/
.main_title {
    display: inline-flex;
    margin: 1vh;
    color: #BBB;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-size: calc(18px + 1.8vw);
}
.tag_line {
    font-size: 30px;
    font-size: calc(6px + 1.8vw);
    margin-left: 20px;
}

/*************END MAIN TITLE
***************************/

/*******************SUBMENU
***************************/
.submenu {
    font-size: inherit;
    font-size: calc(10px + 1vw);
}
.submenu a {
    color: inherit;
}
.subtext {
    display: inline;
    color: #BBB;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2.5vh;
    /*text-shadow: 4px 4px 2px rgb(10, 10, 10);
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);*/
}
/***************END SUBMENU
***************************/

/*******************BOT NAV
***************************/
.bot_nav {
    background-color: #555;
    background-color: rgba(45, 45, 45, 0.5);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Overlock', cursive;
}
.foot_nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/****************END BOT NAV
***************************/

/*******************NAV LINX
***************************/
li a,
button.btn a,
shutt a {
    color: #BBB;
    text-align: center;
    padding: 14px 16px;
}
.bot_nav button.btn,
.btn {
    color: #DDD;
    background-color: #555;
    background-color: rgba(45, 45, 45, 0);
    border-style: none;
    text-shadow: 4px 4px 2px rgb(10, 10, 10);
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}
.bot_nav button.btn a:hover,
.btn:hover {
    color: #DDD;
    background-color: #4d334d;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
}
/***************END NAV LINX
***************************/

/*************FURTHER TWEAKS
***************************/
.home_page {
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content p {
    color: #d9d9d9;
    font-family: 'Libre Baskerville', serif;
    font-size: inherit;
    font-size: calc(12px + 1.8vw);
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}
.title_centered {
    margin-bottom: 50px;
    color: #BBB;
    font-family: 'Poiret One', cursive;
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
    font-size: 32px;
    font-size: calc(70px + 1.8vw);
}
h3 {
    padding: 60px 0 30px 0;
    font-family: 'Cinzel', serif;
    font-size: 25px;
    font-size: calc(12px + 1.8vw);
}
h3 a:hover {
    color: inherit;
}
.h3_light {
    color: #d9d9d9;
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}
.h3_dark {
    color: #0d0d0d;
    text-shadow: 4px 4px 2px rgba(230, 230, 230, 1);
}
.avatar {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    max-height: 150px;
}
.about_desc_list {
    list-style-type: none;
}
.perma_hr {
    border-top: 3px solid #666;
}
.about_content {
    color: #d9d9d9;
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
    font-family: 'Libre Baskerville', serif;
}
/********END FURTHER TWEAKS
***************************/
