
/*****************RESPONSIVE
***************************/

@media screen and (max-width: 600px) {
    ul.topnav li:not(:nth-last-child(2)) {
        display: none;
    }
    ul.topnav li:nth-last-child(2) {
        float: left;
        display: block;
    }
    ul.topnav icon {
        float: right;
        display: block;
    }
    ul.topnav li a:hover {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    body,
    html {
        font-size: 14px;
        font-size: calc(12px + 0.1vw);
    }
    .games_shutt,
    .science_shutt,
    .sundry_shutt {
        height: 30em;
    }
    .fauna_shutt,
    .words_shutt,
    .media_shutt {
        height: auto;
    }
    .games_shutt:hover,
    .science_shutt:hover,
    .sundry_shutt:hover,
    .fauna_shutt:hover,
    .words_shutt:hover,
    .media_shutt:hover {
        transition: .5s;
        min-width: 40%;
    }
    .submenu {
        font-size: 5vmin;
        color: #BBB;
        font-family: 'Cinzel', serif;
    }
    .about_content {
        font-size: 5vmin;
    }
}

@media screen and (max-width: 640px) {
    body,
    html {
        font-size: 12px;
        font-size: calc(10px + 0.2vw);
    }
    .title_centered {
        font-size: 32px;
        font-size: calc(32px + 2.2vw);
    }
}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 320px) {
    body,
    html {
        font-size: 10px;
        font-size: calc(10px + 0.1vw);
    }
}


/*************END RESPONSIVE
***************************/
