/*******SHUTTER PAGE CONTENT
***************************/
.shutt_page_content {
    margin: 0 auto;
    padding: 2vh 2vw;
}
.shutt_page_content p, a {
    color: #BBB;
    text-decoration: none;
}
.shutt_page_content img {
    width: 40vw;
    height: calc(40vw * (9/16));
}
.shutt_page_content a:hover {
    color: #888;
}
.shutt_page_content .shutt_butt {
    background-color: #333;
    background-color: rgba(40,40,40,0.5);
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 40vw;
    height: calc(40vw * (9/16));
}
.row {
    display: flex;
}
.card {
    padding: 1vh 1vw;
    background-color: #777;
}
.card-header, .card-footer, .card-title{
    background-color: #999;
    color: #333;
}
.card-block {
    background-color: inherit;
}
.card-title {
    color: #BBB;
    font-family: 'Poiret One', cursive;
    text-shadow: 4px 4px 2px rgb(10, 10, 10);
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}
.card-link {
    font-family: 'Poiret One', cursive;
    font-size: calc(10px + 1vw);
}
.list-group, .list-group-flush, .list-group-item {
    background-color: #333;
    color: #999;
}


/***END SHUTTER PAGE CONTENT
***************************/
