/******************SHUTTERS
***************************/

.shutters {
    display: flex;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.shutt {
    background-color: rgb(45, 45, 45);
    background-color: rgba(45, 45, 45, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 16.66vw;
    text-align: center;
    text-decoration: none;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.shutt:hover {
    text-decoration: none;
    width: 40%;
}

.shutt a,
a span {
    color: #BBB;
    text-decoration: none;
    text-shadow: 4px 4px 2px rgb(10, 10, 10);
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    font-size: calc(28px + 1.8vw);
}

a span:hover {
    color: #BBB;
    text-decoration: none;
}

.games_shutt {
    background-image: url("../img/games_bg.jpg");
}

.fauna_shutt {
    background-image: url("../img/fauna_bg_04.jpg");
}

.science_shutt {
    background-image: url("../img/science_bg.jpg");
}

.words_shutt {
    background-image: url("../img/words_bg.jpg");
}

.sundry_shutt {
    background-image: url("../img/sundry_bg.jpg");
}

.media_shutt {
    background-image: url("../img/media_bg_02.jpg");
}


/***************END SHUTTERS
***************************/

@media (max-width: 767px) {
    .shutters {
        display: grid;
    }

    .shutt {
        height: 12.5vh;
        width: 100vw;
    }

    .shutt:hover {
        transition: .5s;
        height: 12.5vh;
        width: 100vw;
    }
}
