/* Copyright 2016. GoodLife Music Ltd.. All Rights Reserved. */
/*@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext);*/

/*GENERAL OVERARCHING*/
body, html{
  margin: 0 auto;
  text-align: center;
  background-color: #555;
  /*height: 100%;*/
  box-sizing: border-box;
  font-size: 16px;
  font-size:calc(12px + 0.2vw);
}
/*END GENERAL*/

/*SHUTTERS*/
.shutters {
  /*background-color: #543;*/
  display: flex;
}
.shutt{
  background-color: rgba(45,45,45,0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40em;
  max-width: 20%;
  min-width: 10%;
  text-align: center;
  transition: .5s;
}
.shutt:hover {
    transition: .5s;
    min-width: 40% !important;
    text-decoration: none;
  }
.shutt a, a span {
  color: #BBB;
  text-decoration: none;
  text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
  font-family: 'Poiret One', cursive;
  font-size: 28px;
  font-size:calc(28px + 1.8vw);
}
a span:hover {
    color: #BBB;
    text-decoration: none;
}
.games_shutt {
    background-image: url("../img/games_bg.jpg");
}
.fauna_shutt {
    background-image: url("../img/fauna_bg.jpg");
}
.science_shutt {
    background-image: url("../img/science_bg.jpg");
}
.words_shutt {
    background-image: url("../img/words_bg.jpg");
}
.sundry_shutt {
    background-image: url("../img/sundry_bg.jpg");
}
.media_shutt {
    background-image: url("../img/media_bg.jpg");
}
/*END SHUTTERS*/

/*SUBMENU*/
.submenu {
    font-size: inherit;
    font-size:calc(10px + 1vw);
}
.submenu a {
    color: inherit;
}
/*END SUBMENU*/

/*BOT NAV*/
.bot_nav {
  background-color: #555;
  background-color: rgba(45,45,45,0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Overlock', cursive;
}
.foot_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/*END BOT NAV*/

/*NAV LINX*/
li a, button.btn a, shutt a, shutt_a a{
  color: #BBB;
  text-align: center;
  padding: 14px 16px;
}
.bot_nav button.btn, .btn {
  color: #DDD;
  background-color: #555;
  background-color: rgba(45,45,45,0);
  border-style: none;
  text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}
.bot_nav button.btn a:hover, .btn:hover{
  color: #DDD;
  background-color: #4d334d;
  text-decoration: none;
  border-radius: 50px 50px 50px 50px;
}
/*END NAV LINX*?

/*FURTHER TWEAKS*/
.home_page {
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.content {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.content p {
  color: #d9d9d9;
  font-family: 'Libre Baskerville', serif;
  font-size: inherit;
  font-size:calc(12px + 1.8vw);
  text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}
.title_centered {
  margin-bottom: 50px;
  color: #BBB;
  font-family: 'Poiret One', cursive;
  text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
  font-size: 32px;
  font-size:calc(70px + 1.8vw);
}
h3 {
  padding: 60px 0 30px 0;
  font-family: 'Cinzel', serif;
  font-size: 25px;
  font-size:calc(12px + 1.8vw);
}
h3 a:hover {
    color: inherit;
}
.h3_light {
  color: #d9d9d9;
  text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}
.h3_dark {
  color: #0d0d0d;
  text-shadow: 4px 4px 2px rgba(230, 230, 230, 1);
}
.avatar {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
  max-height: 150px;
}
.about_desc_list {
    list-style-type: none;
}
hr.perma_hr {
    border-top: 3px solid #666;
}
.about_content {
    color: #d9d9d9;
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
    font-family: 'Libre Baskerville', serif;
}
/*END FURTHER TWEAKS*/

/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  ul.topnav li:not(:nth-last-child(2)) {
    display: none;
  }
  ul.topnav li:nth-last-child(2) {
    float: left;
    display: block;
  }
  ul.topnav li.icon {
    float: right;
    display: block;
  }
  ul.topnav li a:hover {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 768px){
    body, html {
        font-size: 14px;
        font-size:calc(12px + 0.1vw);
    }
    .games_shutt, .science_shutt, .sundry_shutt {
        height: 30em;
        background-image: image();
    }
    .fauna_shutt, .words_shutt, .media_shutt {
        height: auto;
        background-image: image();
    }
    .games_shutt:hover, .science_shutt:hover, .sundry_shutt:hover, .fauna_shutt:hover, .words_shutt:hover, .media_shutt:hover {
        transition: .5s;
        min-width: 40% !important;
        /*background-image: linear-gradient(#4d334d,#4d334d);*/
    }
    .submenu {
        font-size:calc(14px + 1vw);
        color: #111;
        font-family: 'Cinzel', serif;
    }
}

@media screen and (max-width: 640px){
    body, html {
        font-size: 12px;
        font-size:calc(10px + 0.2vw);
    }
    .title_centered {
        font-size: 32px;
        font-size:calc(32px + 2.2vw);
    }
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 320px){
    body, html {
        font-size: 10px;
        font-size:calc(10px + 0.1vw);
    }
}
/*END RESPONSIVE*/

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
}
.no-js {
	padding-top: 106px;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 550px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
}
	.hsContent h3  {
		color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
	}
	.hsContent p {
		width: 400px;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}

/* Slide 1 */
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/para_games_bg.png')}
#slide-2 .hsContent {
	margin-left: -450px;
	top: auto;
}
#slide-2 h3 {
    position: relative;
    top: 70%;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/para_science_bg.png')}
#slide-3 .hsContent {
	margin-left: -239px;
}
	#slide-3 h3 {
		color: #f2ead6;
		background-color: rgba(0,0,0,0.6);
	}

/* Slide 4 */
#slide-4 .bcg {background-image:url('../img/para_words_bg.png')}
#slide-4 .hsContent {
	margin-left: -450px;
    position: relative;
    top: 250px;
}
#slide-4 h3 {
	background: none;
	padding-left: 0;
	padding-right: 0;
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body, html {
        height: auto;
    }
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    section {
        min-width: 768px;
        height: 600px;
    }
    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .hsContent {
        max-width: 700px;
        position: relative;
        /*left: 50%;
        top: 50%;
        text-align: left;*/
        padding: 0;
    }
        .hsContent h3  {
            font-size: 35px;
            line-height: 38px;
    }
    .hsContent p {
        width: 400px;
    }
    #slide-1 .hsContent {
        /*bottom: 200px;*/
        /*top: auto;*/
    }
    #slide-2 .hsContent {
        margin-left: -340px;
        top: auto;
    }
    #slide-2 h3 {
        position: relative;
        top: 70%;
    }
    #slide-3 .hsContent {
        margin-left: -300px;
    }
    #slide-4 .hsContent {
        margin-left: -340px;
        position: relative;
    }
    #slide-4 h3 {
        background: none;
    }

}
/* ==========================================================================
   END PARALLAX SCROLL
   ========================================================================== */
