
/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
}
.no-js {
	padding-top: 106px;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 550px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.homeSlide {
    height: 1232px;
}
.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: relative;
	/*left: 50%;*/
	/*top: 50%;*/
}
	.hsContent h3  {
		color: #BBB;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 5px;
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 12px;
        text-decoration: none;
	}
	.hsContent p {
		width: 400px;
		color: #BBB;
	}
	.hsContent a {
		color: #BBB;
		text-decoration: none;
	}

/* Slide 1 */
#slide-1 .hsContent {
	/*bottom: 50%;*/
	/*top: 50%;*/
    /*left: 25%;*/
}
#slide-1 p {
    font-family: 'Libre Baskerville', serif;
    color: #BBB;
    font-size:calc(14px + 1vw);
    text-shadow: 4px 4px 2px rgba(10, 10, 10, 1);
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../img/para_games_bg_1440x1232.png')}
#slide-2 .hsContent {
	/*margin-left: -450px;*/
	top: auto;
}
#slide-2 h3 {
    position: relative;
    top: 70%;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../img/para_fauna_bg_1440x1232.png')}
#slide-3 .hsContent {
	margin-left: -239px;
}
	#slide-3 h3 {
		color: #f2ead6;
		background-color: rgba(0,0,0,0.6);
	}

/* Slide 4 */
#slide-4 .bcg {background-image:url('../img/para_science_bg_1440x1232.png')}
#slide-4 .hsContent {
	margin-left: -450px;
    position: relative;
    top: 250px;
}
#slide-4 h3 {
	background: none;
	padding-left: 0;
	padding-right: 0;
}
/* Slide 5 */
#slide-5 .bcg {background-image:url('../img/para_words_bg_1440x1232.png')}
#slide-5 .hsContent {
	margin-left: -450px;
    position: relative;
    top: 250px;
}
#slide-5 h3 {
	background: none;
	padding-left: 0;
	padding-right: 0;
}
/* Slide 6 */
#slide-6 .bcg {background-image:url('../img/para_sundry_bg_1440x1232.png')}
#slide-6 .hsContent {
	margin-left: -450px;
    position: relative;
    top: 250px;
}
#slide-6 h3 {
	background: none;
	padding-left: 0;
	padding-right: 0;
}
/* Slide 7 */
#slide-7 .bcg {background-image:url('../img/para_media_bg_1440x1232.png')}
#slide-7 .hsContent {
	margin-left: -450px;
    position: relative;
    top: 250px;
}
#slide-7 h3 {
	background: none;
	padding-left: 0;
	padding-right: 0;
}
/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body, html {
        height: auto;
    }
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    section {
        min-width: 768px;
        height: 600px;
    }
    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .hsContent {
        max-width: 700px;
        position: relative;
        /*left: 50%;
        top: 50%;*/
        text-align: center;
        padding: 0;
    }
        .hsContent h3  {
            font-size: 35px;
            line-height: 38px;
    }
    .hsContent p {
        width: 400px;
    }
    #slide-1 .hsContent {
        bottom: 50%;
    	top: 50%;
    }
    #slide-2 .hsContent {
        margin-left: -340px;
        top: auto;
    }
    #slide-2 h3 {
        position: relative;
        top: 70%;
    }
    #slide-3 .hsContent {
        margin-left: -300px;
    }
    #slide-4 .hsContent {
        margin-left: -340px;
        position: relative;
    }
    #slide-4 h3 {
        background: none;
    }
    #slide-5 .hsContent {
        margin-left: -340px;
        position: relative;
    }
    #slide-5 h3 {
        background: none;
    }
    #slide-6 .hsContent {
        margin-left: -340px;
        position: relative;
    }
    #slide-6 h3 {
        background: none;
    }
    #slide-7 .hsContent {
        margin-left: -340px;
        position: relative;
    }
    #slide-7 h3 {
        background: none;
    }

}
/* ==========================================================================
   END PARALLAX SCROLL
   ========================================================================== */
