.container {
  margin: 0 auto;
  max-width: 100vw;
}

#weatherForm {
    margin: 0 auto;
    max-width: 50vw;
}

#weatherTrons {
    grid:   [row1-start] "data map" 40vw [row1-end]
            / auto 40vh auto;
    /*display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;*/
}

/*.jumbotron {
    max-width: 22vw;
}*/

#weatherData {
    /*flex: 0 0 auto;*/
    grid-area: data;
    max-width: 45vw;
}

#Map {
    /*flex: 0 0 auto;*/
    grid-area: map;
    height: 40vh;
    max-width: 45vw;
}

#cityName {
  max-width: 20vw;
}

/*#map {
    height: 25vh;
}*/
