.container {
  margin: 0 auto;
  max-width: 100vw;
}

#weatherForm {
    max-width: 50vw;
}

#weatherTrons {
    max-width: 75vw;
}

.jumbotron {
    max-width: 22vw;
}

#cityName {
  max-width: 20vw;
}

#map {
    height: 25vw;
}
