.container {
  margin: 0 auto;
  max-width: 100vw;
}

#weatherForm {
    margin: 0 auto;
    max-width: 50vw;
}

#weatherTrons {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    max-width: 75vw;
}

/*.jumbotron {
    max-width: 22vw;
}*/

#weatherData {
    flex: 0 0 auto;
}

#weatherMap {
    flex: 0 0 auto;
}

#cityName {
  max-width: 20vw;
}

#map {
    height: 25vw;
}
