.container {
  margin: 0 auto;
  max-width: 100vw;
}

#weatherForm {
    margin: 0 auto;
    max-width: 50vw;
}

#weatherTrons {
    display: grid;
    grid:   [row1-start] "data map" 40vw [row1-end]
            / auto 25vw auto;
}

#weatherData {
    align-self: center;
    grid-area: data;
    height: 50vh;
    max-width: 45vw;
}

#map {
    align-self: center;
    grid-area: map;
    height: 50vh;
    max-width: 45vw;
}

#cityName {
  max-width: 20vw;
}
